---
---
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="ngDrag.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div ng-app="App" ng-controller="Controller" ng-cloak>
            

            <div class="TestSet">
                {% include Slider.html Class="Left High " Test="Test.HighLeft" %}
                {% include Slider.html Class="Left Low  " Test="Test.LowLeft" %}
                {% include Slider.html Class="Right High" Test="Test.HighRight" %}
                {% include Slider.html Class="Right Low " Test="Test.LowRight" %}
            </div>

        </div>
        <script>
            angular
            .module("App", ["ngDrag"])
            .config(["$interpolateProvider", function(inInterpolate)
            {
                inInterpolate.startSymbol('{[{').endSymbol('}]}');
            }])
            .factory("Tone", [function()
            {
                var Tone = {};
                Tone.Context = new (window.AudioContext || window.webkitAudioContext)();
                Tone.Time = {
                    Timer:0,
                    Counter:0,
                    Update: function()
                    {
                        switch(Tone.Time.Counter)
                        {
                            case 0:
                                Tone.GainBeep.gain.value = 1;
                                break;
                            case 1:
                                Tone.GainBeep.gain.value = 0;
                                break;
                            default:
                                Tone.Time.Counter = -1;
                        }
                        Tone.Time.Counter++;
                    },
                    Reset: function()
                    {
                        Tone.GainBeep.gain.value = 0;
                        Tone.Time.Counter = 0;
                    },
                    Start: function()
                    {
                        Tone.Time.Reset();
                        Tone.Time.Timer = setInterval(Tone.Time.Update, 100);
                    },
                    Stop: function()
                    {
                        clearInterval(Tone.Time.Timer);
                        Tone.Time.Reset();
                    }
                };

                Tone.Setup = function(inFrequency, inPan, inDB)
                {
                    Tone.GainBeep = Tone.Context.createGain();
                    Tone.GainBeep.gain.value = 0;
                    Tone.GainDB = Tone.Context.createGain();
                    Tone.Panner = Tone.Context.createStereoPanner();
                    Tone.Oscillator = Tone.Context.createOscillator();
                    Tone.Oscillator.start();

                    Tone.Oscillator.connect(Tone.GainDB);
                    Tone.GainDB.connect(Tone.GainBeep);
                    Tone.GainBeep.connect(Tone.Panner);
                    Tone.Panner.connect(Tone.Context.destination);

                    Tone.Oscillator.frequency.value = inFrequency;
                    Tone.Panner.pan.value = inPan;
                    Tone.Fade(inDB);
                };
                Tone.Fade = function(inDB)
                {
                    Tone.GainDB.gain.value = inDB;
                };
                return Tone;
            }])
            .factory("Test", ["Tone", function(Tone)
            {
                return function(inFrequency, inPan, inDB, inParent)
                {
                    var test = {
                        Initial: [inFrequency, inPan, inDB]
                    };
                    test.Reset = function()
                    {
                      test.Frequency = test.Initial[0];  
                      test.Pan = test.Initial[1];  
                      test.DB = test.Initial[2];  
                      test.Active = false;
                      test.Completed = false;
                    };
                    test.HandlerDrag = function(inPos)
                    {
                        test.DB = 1 - (Math.ceil(inPos.y*10))/10;
                        Tone.Fade(test.DB*0.01);
                    };
                    test.HandlerStart = function()
                    {
                        test.Completed = true;
                        Tone.Setup(test.Frequency, test.Pan, test.DB);
                        Tone.Time.Start();
                        test.Active = true;
                    };
                    test.HandlerStop = function()
                    {
                        Tone.Time.Stop();
                        test.Active = false;
                        inParent.CheckPartiallyDone();
                        inParent.CheckDone();
                    };
                    test.Clean = function()
                    {
                        return Math.floor(test.DB*100)/100;  
                    };
                    test.Reset();
                    return test;
                };
            }])
            .factory("TestSet", ["Test", function(Test)
            {
                return function()
                {
                    var obj = {};
                    
                    obj.HighLeft = Test(4000, 1, 0.8, obj);
                    obj.HighRight = Test(4000, -1, 0.8, obj);
                    obj.LowLeft = Test(250, 1, 0.8, obj);
                    obj.LowRight = Test(250, -1, 0.8, obj);
                    
                    obj.Tests = [];
                    obj.Tests.push(obj.HighLeft);
                    obj.Tests.push(obj.HighRight);
                    obj.Tests.push(obj.LowLeft);
                    obj.Tests.push(obj.LowRight);
                    
                    obj.Reset = function()
                    {
                        var i;
                        for(i=0; i<obj.Tests.length; i++)
                        {
                            obj.Tests[i].Reset();
                        }   
                    };
                    
                    obj.CheckPartiallyDone = function()
                    {
                        var i;
                        for(i=0; i<obj.Tests.length; i++)
                        {
                            if(obj.Tests[i].Completed && !obj.Tests[i].Active)
                            {
                                window.parent.postMessage("Test Started", "*");
                                return true;
                            }
                        }
                        return false;
                    }
                    obj.CheckDone = function()
                    {
                        var i;
                        for(i=0; i<obj.Tests.length; i++)
                        {
                            if(!obj.Tests[i].Completed || obj.Tests[i].Active)
                            {
                                return false;
                            }
                        }
                        window.parent.postMessage("Test Done", "*");
                        return true;
                    };
                    return obj;
                };
            }])
            .factory("Slideshow", [function()
            {
                return function(inMembers)
                {
                    var obj = {};
                    obj.Index = 0;
                    obj.Slides = inMembers;
                    obj.Forward = true;
                    obj.Initial = true;
                    obj.Change = function(inIndex)
                    {
                        if(inIndex == obj.Index)
                        {
                            return;
                        }
                        obj.Initial = false;
                        obj.Slides[obj.Index] = false;
                        obj.Forward = (inIndex > obj.Index);
                        obj.Index = inIndex;
                        obj.Slides[obj.Index] = true;
                    };
                    return obj;
                }
            }])
            .controller("Controller", ["$scope", "TestSet", "Slideshow", function($scope, TestSet, Slideshow)
            {
                $scope.Test = TestSet();
                window.parent.postMessage("Test Ready", "*");
                window.onmessage = function(inEvent)
                {
                    if(inEvent.data == "Test Reset")
                    {
                        $scope.Test.Reset();
                        $scope.$apply();
                    }
                };
            }]);
            
            window.onmessage = function(inEvent)
            {
                console.log(inEvent);
            };
            
        </script>
    </body>
</html>
