body
{
    margin:0;
    background:#000;
    
}
.Band
{
    text-align:center;
}
.Band .Center
{
    max-width:600px;
    margin:0 auto;
}
.Pad
{
    display:block;
    padding:1rem;
}
.Band.Menu
{
    background:#fff;
}
.Band.Slide
{
    color:#fff;
}

form
{
    text-align:left;
}

.TestSet
{
    overflow:hidden;
    margin-top:1rem;
}
.TestSet .Channel
{
    width:40%;
    max-width:120px;
    overflow:hidden;
}
.TestSet .Channel.Left
{
    float:left;
}
.TestSet .Channel.Right
{
    float:right;
}
.Test.High
{
    float:left;
    width:40%;
}
.Test.Low
{
    float:right;
    width:40%;
}
.Test .Cap
{
    width:100%;
    height:50px;
}
.Test .Cap i
{
    display:none;
}
.Test.Active .Cap i
{
    display:none !important;
}
.Test.Completed .Cap i
{
    display:block;
}
.Slider
{
    position:relative;
    height:250px;
    width:100%;
    background:#333;
}
.Slider .Bar
{
    transition:all 0.4s;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:#ccc;
    border-radius:5px;
}
.Test:hover .Bar
{
    box-shadow: 0px 0px 10px #fff;
    border:3px solid #fff;
    z-index:999;
}
.Test.Active .Slider .Bar
{
    background:#FA0;
}
.Test.Completed .Bar
{
    background:#0A0;
}


.Slideshow
{
    position:relative;
    overflow:hidden;
    transition:height 0.4s;
}
.Slide
{
    display:block;
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
}
.Slide.Active
{
    position:relative;
    z-index:10;
    background:#000;
}
.Slideshow .Slide.Active
{
    animation: EnterForward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slideshow.Backward .Slide.Active
{
    animation: EnterBackward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slideshow.Initial .Slide
{
    animation-duration: 0s;
}
.Slideshow .Slide
{
    animation: ExitForward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slideshow.Backward .Slide
{
    animation: ExitBackward ease-out 0.4s;
    animation-fill-mode: both;
}
@keyframes EnterForward
{
    from{left:100%}
    to{left:0%}
}
@keyframes EnterBackward
{
    from{left:-100%}
    to{left:0%}
}
@keyframes ExitForward
{
    from{left:0%}
    to{left:-100%}
}
@keyframes ExitBackward
{
    from{left:0%}
    to{left:100%}
}
