body
{
    margin:0;
    background:#000;
    
}
.Band
{
    text-align:center;
}
.Band .Center
{
    max-width:600px;
    margin:0 auto;
}
.Pad
{
    display:block;
    padding:1rem 2rem 1rem 2rem;
}
.Band.Title
{
    background:#eeeeee;
}
.Band.Title .Center
{
    background:#fff;
}
.Band.Menu
{
    display:none;
}
.Band.Menu a
{
    display:block;
    overflow:hidden;
    height:0;
    padding:0;
    margin:0;
    border:0;
    transition:all 0.4s;
}
.Menu .Band.Menu a
{
    height:3em;
    padding:0.5em;
    border:1px;
}
.Band.Slide
{
    color:#fff;
}
.Band.Slide .Center
{
    background:#111;
}

form
{
    text-align:left;
}

.Frequency
{
    position:relative;
    float:left;
    width:25px;
}
.Frequency .Jump
{
    height:25px;
}
.Frequency.High .Jump.Up .Step
{
    display:block;
}
.Frequency.Low .Jump.Down .Step
{
    display:block;
}
.Frequency.LimitHigh .Jump.Up .Limit
{
    display:block;
}
.Frequency.LimitLow .Jump.Down .Limit
{
    display:block;
}
.Frequency .Jump .Step, .Frequency .Jump .Limit
{
    display:none;
}
.Frequency.LimitHigh .Jump.Up .Step
{
    display:none;
}
.Frequency.LimitLow .Jump.Down .Step
{
    display:none;
}

.Slider
{
    position:relative;
    height:250px;
    border:2px solid #999;
    border-left:none;
    border-right:none;
    margin:5px;
    overflow:hidden;
    background:#333;
    cursor:pointer;
}
.Slider .Bar
{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:#999;
}
.Slider.Adjusted .Bar
{
    background:#4F0;
}
.Slider.Adjusting .Bar
{
    background:#F40;
}

.Slideshow
{
    position:relative;
    overflow:hidden;
}
.Slide
{
    display:block;
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    z-index:1;
}
.Slide.Active
{
    position:relative;
    z-index:10;
    background:#000;
}
.Slide.Active.Forward
{
    animation: EnterForward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slide.Active.Backward
{
    animation: EnterBackward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slide.Inactive.Forward
{
    animation: ExitForward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slide.Inactive.Backward
{
    animation: ExitBackward ease-out 0.4s;
    animation-fill-mode: both;
}
@keyframes EnterForward
{
    from{left:100%}
    to{left:0%}
}
@keyframes EnterBackward
{
    from{left:-100%}
    to{left:0%}
}
@keyframes ExitForward
{
    from{left:0%}
    to{left:-100%}
}
@keyframes ExitBackward
{
    from{left:0%}
    to{left:100%}
}
