.Frequencies
{
    max-width:400px;
    margin:0 auto;
}

.Frequency
{
    position:relative;
    float:left;
    width:40px;
}
.Frequency .Jump
{
    height:40px;
    background:#aaa;
    margin:1px;
}
.Frequency .Jump button
{
    width:100%;
    height:100%;
    padding:0;

}
.Slider
{
    position:relative;
    height:250px;
    border:2px solid #999;
    border-left:none;
    border-right:none;
    margin:1px;
    overflow:hidden;
    background:#333;
    cursor:pointer;
}
.Slider .Bar
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:#999;
}
.Slider.Adjusted .Bar
{
    background:#4F0;
}
.Slider.Adjusting .Bar
{
    background:#F40;
}

.Slideshow
{
    position:relative;
    overflow:hidden;
}
.Slide
{
    transition:height 0.3s;
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    z-index:1;
}
.Slide.Active
{
    position:relative;
    z-index:10;
    background:#000;
}
.Slide.Active.Forward
{
    animation: EnterForward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slide.Active.Backward
{
    animation: EnterBackward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slide.Inactive.Forward
{
    animation: ExitForward ease-out 0.4s;
    animation-fill-mode: both;
}
.Slide.Inactive.Backward
{
    background-image:url(WaveHigh.png);
    background-position-y: center;
}
.Test.Low .Bar
{
    background-image:url(WaveLow.png);
    background-position-y: center;
}
.Test.Active .Slider .Bar
{
    background-color:#FA0;
}
.Test.Completed .Bar
{
    background-color:#0A0;
}